body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    --navbar-height: 7rem;
    background-color: #FBEBDB;
    overflow: auto;
    opacity: 0;
    transition: opacity .5s;
}

@-ms-viewport{
    width: device-width
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
    cursor:pointer
}

/* Landing Page */

/* @keyframes slidein {
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%);
    }
  } */

.landingPage img{
    width: 100vw;
    padding-top: calc(0.04* 100vh);
    object-position: bottom;
    opacity: 20%;
    border-top-right-radius: 30rem;
    border-top-left-radius: 30rem;
    z-index: 0;
}


.signInP{
    font-size: 40px;
}

.signIn input{
    background-color: #FEF9F5;
    border:none;
    padding: 1rem;
    border-radius: 15px;
    z-index: 4;
    width: 40%
}

.signIn input{
    padding-bottom: 3px;
}

.signIn span {
    font-size:12px;
    text-decoration: underline;
}

/* Navigation Bar*/

.homeButton {
    margin-right: 3rem;
    transition-duration: 0.5s;
}


.navbar{
    background-color: #FBEBDB;
    height: var(--navbar-height);
    border-bottom: 1px solid black;
    margin: 0rem 3rem 0rem 3rem;
}

.navbar img {
    display: block;
    margin: 1.5rem 0rem 1.5rem 2rem;
}

.navbar img:hover {
    cursor: pointer;
}

.links {
    text-align: right;
    display: block;
    padding-right: calc(0.2 * 100vh);
    margin-top: -4rem;
}

.navbar .href {
    padding-right: 3rem;
    color: black;
    font-family:'Inter';
    font-size: 18px;
    text-decoration: none;
}

/* Index Page */ 

.woodImage {
    margin: 1rem 4rem 1rem 3rem;
    height: calc(0.78 * 100vh);
    border-radius: 100px;
}

.getStartedButton {
    background-color:#F05E22;
    border-radius:20px;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border: none;
    color:white;
    font-family:'Inter';
    font-size: 18px;
    text-decoration: none;
}

.getStartedButton:hover {
    cursor: pointer;
}

.getStartedButton a{
    color: white;
    text-decoration: none;
    font-size:18px;
}

.bottom {
    margin-left: 100vh;
    margin-top: 3rem;
}


.navbar .hrefText {
    color: white;
    font-family:'Inter';
    font-size: 18px;
    text-decoration: none;
}

.inline_block {
    display: inline-block;
}

.createAccount form{
    display:block;
    margin-top: calc(100vh * (-0.75));
    margin-left: calc(100vw * 0.5)
}

.inline_block input{
    background-color: #FEF9F5;
    border:none;
    padding: 1rem;
    border-radius: 15px;
    margin: 0rem 10px 10px 0rem
}

.inline_block label {
    display:block;
}

.home {
    height: calc(100vh - 14rem);
}

/* Tracker Page */ 
.dateLog {
    margin-left: calc(0.13 * 100vw);
    margin-top: calc(0.03 * 100vh);

}

.dateLog input {
    background-color: #FEF9F5;
    border:none;
    padding: 1rem;
    border-radius: 15px;
    z-index: 4;
    width: 10%
}

.select {
    background-color: #FEF9F5;
    border:none;
    padding: 1rem;
    border-radius: 15px;
    z-index: 4;
    width: 10%
}

.mealButton {
    background-color: #F05E22;
}

.buttonsContainer {
    height: calc(0.4 * (100vh - 6rem));
    padding-left: calc(0.1 * (100vw - 6rem));
    margin-left: calc(0.01 * (100vw - 6rem));
}

.buttonsContainer button {
    background-color: #F7AE90;
    border-radius: 1rem;
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    box-shadow: 2px 2px 5px #F8C997;
    transition-duration: 0.5s;
    font-size: 20px;
    /* margin: 5rem 3rem -1rem 0.4rem; */
    margin-top: calc(0.1 * (100vh - 6rem));
    margin-right: calc(0.05 * (100vw - 6rem));

}

.buttonsContainer a{
    color: black;
    text-decoration: none;
}

.secondRow {
    margin-left: 5rem
}

.buttonsContainer Button:hover {
    background-color:#F05E22;
}



.buttonsContainer .smButton {
    padding-left: 2rem;
    padding-right: 2rem;
}

.suggestionBox {
    height: calc(0.4 * (100vh - 6rem));
}

.suggContainer {
    display: block;
    height: calc(0.7* (100vh - 6rem));
    border: 1px solid black;
    width: 40%; 
    margin-left: calc(0.5 * 100vw);
    margin-top: calc(-0.1 * 100vh);
    background-color: #FDF4EB;
    border-radius: 1.2rem;
    border:none;
}

.title{
    padding: 1.9rem 0rem 1.5rem 1rem;
    border-bottom: 1px solid black;
    font-size: 17px;
    width: 85%;
    margin: 0 auto
}

.two {
    font-size: 15px;
    width: 85%;
    border-bottom:none;
    margin: 0 auto;
}

/* Log Page */ 

.logBar {
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #C0C0C0;
    width: 50%;
}

.logBar .divider {
    padding: 0rem 3rem 0rem 3rem;
}

.logBar .grey {
    padding: 1rem;
    transition-duration: 0.5s;
}

.logBar .grey:hover {
    background-color: #FCE5CD;
    border-radius: 10rem;
}

.alertMessage {
    color: red;
    visibility: hidden;
}

/*Search Food Page */
.searchBar {
    margin-top: calc(100vh * 0.07);
    margin-left: calc(100vw * 0.35);
}

.searchBar input {
    background-color: #FEF9F5;
    border:none;
    padding: 1rem;
    border-radius: 15px;
    width: 120%;
}

.searchBar button {
    margin-left:calc(100vw * 0.07);
}

/* Create Food Page */
.createFood {
    margin-top: calc(100vh * 0.07);
    margin-left: calc(100vw * 0.35);
}

.createFood input {
    background-color: #FEF9F5;
    border:none;
    padding: 1rem;
    border-radius: 15px;
    width: 120%;
}

.createFood button {
    margin-left:calc(100vw * 0.07);
}
