{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="{% static 'js/myscripts.js' %}"></script>
</head>
<body>
    <nav class="navbar">
        <img src="{% static 'img/NKFLogo.svg'%}" onclick="transitionToPage(`{%url 'landing'%}`)"></img>
        <div class="links">
            <span onclick="transitionToPage(`{%url 'landing'%}`)" class="homeButton">Log In</span>
            <button class="getStartedButton">                    
                <span onclick="transitionToPage(`{%url 'tracker'%}`)" class="hrefText">Get Started</span>
            </button>
        </div>
    </nav>
    <div class="logBar">
        <div class="inline_block grey">
            <span onclick="transitionToPage(`{%url 'displayFood'%}`)" class="href">
                Food Journal
            </span>
        </div>
        <div class="inline_block divider">|</div>
        <div class="inline_block grey">
            <span onclick="transitionToPage(`{%url 'searchFood'%}`)" class="href">
                Search Food
            </span>
        </div>
        <div class="inline_block divider">|</div>
        <div class="inline_block grey">
            <span onclick="transitionToPage(`{%url 'createFood'%}`)" class="href">
                <u>Create New Food</u>
            </span>
        </div>
    </div>
    <div class="createFood">
        <form class="inline_block">
            <label for="createFood">Create New Food Item:</label>
            <br>
            <input type="text" id="createFood" name="createFood" placeholder="Enter food name">
        </form>
        <button class="getStartedButton inline_block">                    
            <span onclick="transitionToPage(`{%url 'searchFood'%}`)" class="index">Create Food</span>
        </button>
    </div>
</body>
</html>