{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="{% static 'js/myscripts.js' %}"></script>
</head>
<body>
    <nav class="navbar">
        <img src="{% static 'img/NKFLogo.svg'%}" onclick="transitionToPage(`{%url 'landing'%}`)"></img>
        <div class="links">
            <span onclick="transitionToPage(`{%url 'landing'%}`)" class="homeButton">Log Out</span>
            <button class="getStartedButton">                    
                <span onclick="transitionToPage(`{%url 'tracker'%}`)" class="hrefText">Tracker</span>
            </button>
        </div>
    </nav>
    <div class="logBar">
        <div class="inline_block grey">
            <span onclick="transitionToPage(`{%url 'displayFood'%}`)" class="href">
                <u>Food Journal</u>
            </span>
        </div>
        <div class="inline_block divider">|</div>
        <div class="inline_block grey">
            <form action="{% url 'displayFood' %}" method="post" class="dateLog">
                {% csrf_token %}  
                <button class="href" type="submit" value="submit">Search Food</button>
            </form>
        </div>
    </div>
    <!-- <div>
        Logging Food for {{mealName}}, {{mealDate}}
    </div> -->

    <div>
        Logging Food for {{mealName}}
        <br>
        Date: {{meal_date}}
    </div>
    <h1><b>FOOD</b></h1>
    <p id="alertMessage"></p>
    <div class='container'>
        {%for food in food %}
        <p>
            {{ food.food_desc }}
            <a class='btn btn-primary' href="{% url "showFoodNutrient" %}">Food Nutrient</a>
            <a class='btn btn-primary' href="{% url "deleteFood" id=food.id %}">Delete</a>
            <a class='btn btn-primary' href="{% url "editSingleFood" id=food.id %}">Edit</a>
        </p>
        {%endfor%}
    </div>
    <!-- <script>
        // if(sodiumLevel > 2300){
        //     document.getElementById("alertMessage").innerHTML = "Your sodium level has exceeded the daily value!"
        //     document.getElementById("alertMessage").style.visibility = visible
        // }

        // if(proteinLevel > 0.6 * kg) {
        //     document.getElementById("alertMessage").innerHTML = "Your protein level has exceeded the daily value!"
        //     document.getElementById("alertMessage").style.visibility = visible
        // }

        // if(potassiumLevel > 3000) {
        //     document.getElementById("alertMessage").innerHTML = "Your potassium level has exceeded the daily value!"
        //     document.getElementById("alertMessage").style.visibility = visible
        // }

        // if(phosphorusLevel > 1000) {
        //     document.getElementById("alertMessage").innerHTML = "Your phosphorus level has exceeded the daily value!"
        //     document.getElementById("alertMessage").style.visibility = visible
        // }
    </script> -->
</body>
</html>