{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="{% static 'js/myscripts.js' %}"></script>
</head>
<body>
    <nav class="navbar">
        <img src="{%static 'img/NKFLogo.svg'%}" onclick="transitionToPage(`{%url 'landing'%}`)"></img>
        <div class="links">
            <span onclick="transitionToPage(`{%url 'landing'%}`)" class="homeButton">Log In</span>
            <button class="getStartedButton">                    
                <span onclick="transitionToPage(`{%url 'index'%}`)" class="hrefText">Create Account</span>
            </button>
        </div>
    </nav>
    <img src="{%static 'img/herbs.jpg'%}" class="woodImage"></img>
    <div class="forms">
        <p class="signInP">Sign In</p>
        <form class="signIn">
            <label for="username">User Name:</label>
            <br>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password">
            <br>
            <br>
            <span onclick="transitionToPage(`{%url 'index'%}`)" >Create Account</span>
        </form>
        <br><br>
        <button class="getStartedButton" type="submit">                    
            <span onclick="transitionToPage(`{%url 'tracker'%}`)" class="hrefText">Sign In</span>
        </button>
    </div>

</body>
</html>