{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="{% static 'js/myscripts.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <img src="{% static 'img/NKFLogo.svg'%}" onclick="transitionToPage(`{%url 'landing'%}`)"></img>
        <div class="links">
            <span onclick="transitionToPage(`{%url 'landing'%}`)" class="homeButton">Log In</span>
            <button class="getStartedButton">                    
                <span onclick="transitionToPage(`{%url 'tracker'%}`)" class="hrefText">Tracker</span>
            </button>
        </div>
    </nav>
    <div class="logBar">
        <div class="inline_block grey">
            <span onclick="transitionToPage(`{%url 'displayFood'%}`)" class="href" mealDate=mealDate mealName=mealName>
                Food Journal
            </span>
        </div>
        <div class="inline_block divider">|</div>
        <div class="inline_block grey">
            <span onclick="transitionToPage(`{%url 'searchFood'%}`)" class="href">
                <u>Search Food</u>
            </span>
        </div>
    </div>
    <div class="searchBar">
        <form class="inline_block" action="{% url 'search_food' %}" method="post">
            {% csrf_token %}
            <label for="searchFood">Search For Food:</label>
            <br>
            <input type="text" id="search" name="search" placeholder="search for food items">
            <input class="serving" type="number" id="serving" name="serving" placeholder="number of servings" value=1>

            <button class="getStartedButton" type="submit">
                Search Food
            </button>
            <br>
            <br> 
        </form>
        <br>
        <!-- <form class="inline_block" action="{% url 'search_food' %}" method="post">
            {% csrf_token %}
            <input class="serving" type="number" id="serving" name="serving" placeholder="number of servings">
            <button class="getStartedButton" type="submit">Submit Serving Size</button>
        </form> -->
        <!-- <form class="inline_block" action="{% url 'createFood' %}" method="post">
            <button type="submit" class="getStartedButton inline_block"> 
                Add Food to Journal                  
            </button>
        </form>    -->
        <!-- {% comment %} <form class="inline_block" name="form" method="post" action="{% url 'createFood' %}">
            {%csrf_token%}
            <br>
            <input type="text" name='food_desc' id='food_desc'  placeholder="Food Name" autofocus>
            <button type="submit" class="getStartedButton inline_block">                    
                <span onclick="transitionToPage(`{%url 'searchFood'%}`)" class="index">Create Food</span>
            </button>
        </form> {% endcomment %} -->
    </div>
    <div>
        <h2>Food Name: {{food}}</h2>
        <h2>Sodium: {% widthratio nutrients.0 1 serving %}</h2>
        <h2>Protein: {% widthratio nutrients.1 1 serving %}</h2>
        <h2>Potassium: {% widthratio nutrients.2 1 serving %}<h2>
        <h2>Phosphorus: {% widthratio nutrients.3 1 serving %}</h2>
    </div>

    <form class="forms" name="form" method="post" action="{% url 'displayFood' %}">
        {% csrf_token %}
        <div class="inline_block">
            <label for="food"></label>
            <br>
            <input type="hidden" value="{{food}}" id="food" name="food" autofocus>
        </div>
        <div class="inline_block">
            <label for="nutrients_0"></label>
            <br>
            <input type="hidden" value="{{nutrients.0}}" id="nutrients_0" name="nutrients_0">
        </div>
        <div class="inline_block">
            <label for="nutrients_1"></label>
            <br>
            <input type="hidden" value="{{nutrients.1}}" id="nutrients_1" name="nutrients_1">
        </div>
        <br>
        <div class="inline_block">                            
            <label for="nutrients_2"></label>
            <br>
            <input type="hidden" value="{{nutrients.2}}" id="nutrients_2" name="nutrients_2">
        </div>
        <br>
        <div class="inline_block">
            <label for="nutrients_3"></label>
            <br>
            <input type="hidden" id="nutrients_3" name="nutrients_3">
        </div>
        <br> 
        <button type="submit">Add Nutrients and food</button>
</body>
</html>
{%endblock%}