{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="{% static 'js/myscripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>
<body>
    <script>
        function seeValue() {
            dateValue = document.getElementById('riqi').value
            document.getElementById('display').innerHTML = dateValue
        }

    </script>
    <nav class="navbar">
        <img src="{% static 'img/NKFLogo.svg'%}" onclick="transitionToPage(`{%url 'landing'%}`)"></img>
        <div class="links">
            <span onclick="transitionToPage(`{%url 'landing'%}`)" class="homeButton">Log Out</span>
            <button class="getStartedButton">                    
                <span onclick="transitionToPage(`{%url 'tracker'%}`)" class="hrefText">Tracker</span>
            </button>
        </div>
    </nav>
    <div class="home">
        <form action="{% url 'tracker_date_meal' %}" method="post" class="dateLog">
            {% csrf_token %}  
            <label for="meal_date">Select Date</label>
            <input type="date" id="meal_date" name="meal_date" min="1900-11-01" max="2022-11-30" onkeydown="return false">
            <br><br>
            <label for="mealName">Select Meal</label>
            <select name="mealName" class="select">
                {% for meal in meals %}
                    <option value="{{ meal }}">{{ meal }}</option>
                {% endfor %} 
            </select>
            <br><br>
            <button class="getStartedButton" type="submit" value="submit">Comfirm Date and Meal</button>
        </form>
        <!-- <form>
            <input type="date" id="riqi" name="riqi" min="1900-11-01" max="2022-11-30" onkeydown="return false">
            <button type="button" onclick="seeValue()">Submit</button>
        </form> -->

        <p id="display"></p>
        <!-- <div class='buttonsContainer'>
            <form action="{% url 'displayFood' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="breakfast" id="meal">
                    <span onclick="transitionToPage(`{%url 'displayFood'%}`)"></span>
                </input>
                <input type="submit" value='lunch' class ='smButton' id="meal">
                    <span onclick="transitionToPage(`{%url 'displayFood'%}`)" id="meal"></span>
                </input>
                <input type="submit" class ='smButton' value="dinner" id="meal">
                    <span onclick="transitionToPage(`{%url 'displayFood'%}`)" id="meal"></span>
                </input>
            </form>
            <form action="" method="post" class="secondRow">
                <input type="submit" class ='smButton' value="snack" id="meal">
                    <span onclick="transitionToPage(`{%url 'displayFood'%}`)" id="meal">Snack</span>
                </input>
                <input type="submit" class ='smButton' value="water" id="meal">
                    <span onclick="transitionToPage(`{%url 'displayFood'%}`)" id="meal">Water</span>
                </input>
            </form>
        </div> -->
        <div class="suggContainer">
            <p class="title">Suggestions: <a href="https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd/eating-nutrition" target="blank">NIH Website</a></p>
            <div class="two">
                <p>1. Choose foods with less salt and sodium to control blood pressure. </p>
                <!-- <ul>
                    <li>spices, herbs, sodium-free seasonings</li>
                </ul> -->
                <p>2. Careful with the amount of protein to eat</p>
                <!-- <ul>
                    <li>Animal Protein: Chicken, Fish, Meat, Eggs, Diary</li>
                    <li>Plant Protein: Beans, Nuts, Grains</li>
                </ul> -->
                <p>3. Choose heart-healthy foods to keep fat from building up around heart, kidney, and blood vessels.</p>
                <ul>
                    <!-- <li>Lean meat, skinless poultry, fish, beans, vegetables, fruits, low-fat diary products</li> -->
                    <li>Limit alcohol</li>
                </ul>
                <p>4. Choose foods with less amount of Phospherous to help protect bones and blood vessels</p>
                <ul>
                    <li>see <a href="https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd/eating-nutrition" target="blank">here</a> for the foods with high/low amount of Phospherous</li>
                </ul>
                <p>5. Choose foods with the right amount of Potassium</p>
                <ul>
                    <li>see <a href="https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd/eating-nutrition" target="blank">here</a> for the foods with high/low amount of Potassium</li>
                </ul>
            </div>
        </div>
        <div>
            <canvas id="myChart" width="20" height="20"></canvas>
            <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for data in nutrient %} '{{nutrient.food}}', {% endfor %}],
                    datasets: [{
                        label: 'Level of protein',
                        data: [{% for data in nutrient %} {{nutrient.protein}}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>
        </div>
    </div>
</body>
</html>